
{% extends "layout.html" %} <!-- This pulls in the basics for an html document-->
{% block content %}







<!-- This is the column that divides the overall page in half, Map on left, Food items on right.-->
<div class="container">
    <div class="row">
    
        <div class=" justify-content-start col-sm-6">

            <!--Google map-->
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="margin-top: 5%; min-width: 400px; min-height: 400px; max-width: 800px; max-height: 800px;">
                <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"  allowfullscreen></iframe>
            </div>
        
            <style>
                .map-container{
                overflow: hidden;
                padding-bottom:56.25%;
                position: relative;
                height:0;
                }
                .map-container iframe{
                left:0;
                top:0;
                height:50%;
                width:50%;
                position: absolute;
                }
            </style>
        </div>


    <!-- This is the column for food orders -->
    <div class="col-sm-6 "> 
        <!-- This is the container for the row of Popular food Order -->
        <div class="container">  
            <!--<h2 class="display-4 text-info text-center">Popular Food Orders</h2>  -->
            <h2 class="text-info text-center">Popular Food Orders</h2> 
            <div class="row">
                <div class="col-sm-4 "> 
                    <div class="panel panel-success">
                        <div class="panel-heading text-center">Taco</div>
                        <div class="panel-body"><img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1126,w_2000,x_0,y_181/f_auto,q_auto,w_1100/v1554932288/shape/mentalfloss/12531-istock-637790866.jpg" class="img-responsive" style="width:100%;" alt="Image"></div>
                        <div class="panel-footer text-center"><button type="button" class="btn btn-outline-primary">Order</button></div>
                    </div>
                </div>
                <div class="col-sm-4"> 
                    <div class="panel panel-success">
                        <div class="panel-heading text-center">Burger</div>
                        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWtHQW2W62BqfL0VM8WfBscAjMCQm6pGCNIYSV1P5Xdhy5X9bZdg&s" class="img-responsive" style="width:100%;" alt="Image"></div>
                        <div class="panel-footer text-center"><button type="button" class="btn btn-outline-primary">Order</button></div>
                    </div>
                </div>
                <div class="col-sm-4"> 
                    <div class="panel panel-success">
                        <div class="panel-heading text-center">Pizza</div>
                        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZpRrqi23Ve1s27DEzMAeHQGV96g9TbHKf7agWc4bi_POz7-ps&s" class="img-responsive" style="width:100%;" alt="Image"></div>
                        <div class="panel-footer text-center"><button type="button" class="btn btn-outline-primary">Order</button></div>
                    </div>
                </div>
            </div>
        </div>

        <h1 style="margin-top:5%"> </h1>
        <!-- This is the container for Recent Food Orders-->
        <div class="container">  
            <!--<h2 class="display-4 text-info text-center">Recent Food Orders</h2>  -->
            <h2 class="text-info text-center">Recent Food Orders</h2>  
            <div class="row">
                <div class="col-sm-4 "> 
                    <div class="panel panel-success">
                        <div class="panel-heading text-center">Burger</div>
                        <div class="panel-body"><img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1126,w_2000,x_0,y_181/f_auto,q_auto,w_1100/v1554932288/shape/mentalfloss/12531-istock-637790866.jpg" class="img-responsive" style="width:100%; height: 100px"" alt="Image"></div>
                        <div class="panel-footer text-center"><button type="button" class="btn btn-outline-primary">Reorder</button></div>
                    </div>
                </div>
                <div class="col-sm-4"> 
                    <div class="panel panel-success">
                        <div class="panel-heading text-center">Tacos</div>
                        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWtHQW2W62BqfL0VM8WfBscAjMCQm6pGCNIYSV1P5Xdhy5X9bZdg&s" class="img-responsive" style="width:100%; height: 100px"" alt="Image"></div>
                        <div class="panel-footer text-center"><button type="button" class="btn btn-outline-primary">Reorder</button></div>
                    </div>
                </div>
                    <div class="col-sm-4"> 
                        <div class="panel panel-success">
                            <div class="panel-heading text-center">Pizza</div>
                            <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZpRrqi23Ve1s27DEzMAeHQGV96g9TbHKf7agWc4bi_POz7-ps&s" class="img-responsive" style="width:100%; height: 100px" alt="Image"></div>
                            <div class="panel-footer text-center"><button type="button" class="btn btn-outline-primary">Reorder</button></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</div>


{% endblock %}

<!-- NOTE, class label = center align text + underline (Ie label this section of the page!) -->