{% extends "layout.html" %} <!-- This pulls in the basics for an html document-->
{% block content %}


<div class="display-4 text-info text-center">Rate Food</div>
<div style="margin-top: 5%;"> </div>

<div class="text-center">
    <span class="fa fa-star text-warning fa-5x"></span>
    <span class="fa fa-star text-warning fa-5x"></span>
    <span class="fa fa-star text-warning fa-5x"></span>
    <span class="fa fa-star text-warning fa-5x"></span>
    <span class="fa fa-star fa-5x"></span>
</div>


<div style="margin-top: 5%;"> </div>
<div class="text-center"><button type="button" class="btn btn-outline-primary">Rate</button></div>



{% endblock %}

<!-- NOTE, class label = center align text + underline (Ie label this section of the page!) -->